.my-container {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
}

.box-img {
    position: relative;
}

.text {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}